@import "./reset.scss";

.bohio-menu {
    position: absolute;
    top: 0;
    left: -50%;
    width: 250px;
    background: #f1f1f1;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    transition: left 0.5s;

    .title{
        margin: 0;
        font-family: sans-serif;
        font-weight: bold;
    }

    .links {
        padding: 0;
        li {
            margin: 10px 0;
        }
    }
}

.menu-checkbox{
    display: none;

    &:checked + .bohio-menu {
        left: 0;
    }
    &:checked ~ .menu-label {
        position: absolute;
        left: 50%;
    }
}
.menu-label{
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    transition: left 0.5s;
    img {
        width: 40px;
        margin: 10px;
    }
}
